In [2]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv(r"C:\Users\USER\Downloads\Warehouse_and_Retail_Sales.csv")

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [5]:
print("Missing values before cleaning:")
print(df.isnull().sum())

Missing values before cleaning:
YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [6]:
df['TOTAL_SALES'] = df['RETAIL SALES'] + df['WAREHOUSE SALES']

In [7]:
df['QUARTER'] = df['MONTH'].apply(lambda x: (x-1)//3 + 1)

In [8]:
item_type_avg = df.groupby('ITEM TYPE')['TOTAL_SALES'].transform('mean')
df['AVG_SALES_BY_TYPE'] = item_type_avg

In [9]:
df[['YEAR', 'MONTH', 'ITEM TYPE', 'TOTAL_SALES', 'QUARTER', 'AVG_SALES_BY_TYPE']].head()

   YEAR  MONTH ITEM TYPE  TOTAL_SALES  QUARTER  AVG_SALES_BY_TYPE
0  2020      1      WINE         2.00        1          10.144338
1  2020      1      WINE         4.00        1          10.144338
2  2020      1      BEER         1.00        1         167.435858
3  2020      1      WINE         1.00        1          10.144338
4  2020      1      WINE         0.82        1          10.144338

In [10]:
df.to_csv('Engineered_Warehouse_and_Retail_Sales.csv', index=False)

Part 2

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Initial Data Inspection
df = pd.read_csv(r"C:\Users\USER\Downloads\housing.csv")
print("Shape:", df.shape)
print("\nColumns and Data Types:")
print(df.dtypes)
print("\nMissing Values:")
print(df.isnull().sum())

SyntaxError: unterminated string literal (detected at line 6) (2208199113.py, line 6)

In [ ]:
# 2. Data Cleaning
# Handling missing values in 'total_bedrooms'
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].median())
# Checking for duplicates
print("\nDuplicates found:", df.duplicated().sum())
df = df.drop_duplicates()

In [ ]:
# 3. Exploratory Data Analysis (EDA)
# Visualization 1: Distribution of Median House Value
plt.figure(figsize=(10, 6))
sns.histplot(df['median_house_value'], bins=50, kde=True, color='blue')
plt.title('Distribution of Median House Value')
plt.xlabel('Median House Value')
plt.ylabel('Frequency')
plt.savefig('median_house_value_dist.png')
plt.close()

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(x='median_income', y='median_house_value', data=df, alpha=0.3, color='green')
plt.title('Median Income vs Median House Value')
plt.xlabel('Median Income')
plt.ylabel('Median House Value')
plt.savefig('income_vs_value.png')
plt.close()

In [ ]:
# 4. Feature Engineering
df['rooms_per_household'] = df['total_rooms'] / df['households']
df['bedrooms_per_room'] = df['total_bedrooms'] / df['total_rooms']
df['population_per_household'] = df['population'] / df['households']

In [ ]:
print("\nNew Features Created:")
print(df[['rooms_per_household', 'bedrooms_per_room', 'population_per_household']].head())

In [ ]:
# Save the cleaned and engineered dataset
df.to_csv('cleaned_housing.csv', index=False)